<%- include('includes/header.ejs') %>
<form class="form" action="/add-user" method="POST">
    <div>
        <label for="username">Enter name:</label>
        <input name="username" id="username" type="text">
        <button type="submit">Submit</button>
    </div>
</form>
<%- include('includes/end.ejs') %>