body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    color: whitesmoke;
}

.animate {
    animation: 1s fade linear forwards;
}

@keyframes fade {
    100% {
        opacity: 0;
    }
}